@font-face {
  font-family: "GilroyBold";
  src: url("../../assets/fonts/Gilroy-ExtraBold.otf");
  font-family: "GilroyLight";
  src: url("../../assets/fonts/Gilroy-Light.otf");
}

.content-dashboard {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100px;
  background: #49334d;
}

.content-dashboard .menu .logo {
  display: flex;
  height: 100px;
  background: #e68d0b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-dashboard .menu .menu-items {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;

}

.content-dashboard .menu .menu-items svg {
  
  padding: 10px;
  border-radius: 10px;
  transition:all 0.3s ease;
}



.content-dashboard .menu .menu-items svg{
  background: #ffffff;
  
}


.content-dashboard .menu .logo a {
  color: #ffffff;
  text-decoration: none;
  font-family: "GilroyBold";
  font-size: 30px;
}

.header {
  background: #dfe1eb;
  width: 100%;
  height: 100px;
}

.main-dash {
  background: tomato;
  width: 100%;
}

.title-header {
  background: orchid;
}
